<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net45" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net45" />
  <package id="Fody" version="4.2.1" targetFramework="net45" developmentDependency="true" />
  <package id="JustMock" version="2019.1.115.2" targetFramework="net45" />
  <package id="Moq" version="4.10.1" targetFramework="net45" />
  <package id="NVorbis" version="0.10.1" targetFramework="net45" />
  <package id="OpenTK" version="3.1.0" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.3" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net45" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>