# User-Defined
script/misc/output/**
ShanghaiEXE/Files/data/*.she
ShanghaiEXE/Files/language/**
ShanghaiEXE/Files/music/**
ShanghaiEXE/Files/ShaGPattern.tcd
ShanghaiEXE/Files/ShaGResource.tcd
ShanghaiEXE/Files/ShaSPattern.tcd
ShanghaiEXE/Files/ShaSResource.tcd