<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.1.0" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net45" />
  <package id="Sanford.Multimedia.Midi" version="6.6.2" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
</packages>