<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net45" />
  <package id="Fody" version="4.2.1" targetFramework="net45" developmentDependency="true" />
  <package id="OpenTK" version="3.1.0" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
</packages>